<!DOCTYPE html>
<html>
  <head>
    <title>Facebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if logged_in?%>
      VOCÊ ESTÁ LOGADO <%= link_to "sair", login_path, method: :delete %>
    <% else %>
      VOCÊ NÃO ESTÁ LOGADO
    <% end %>
      <%= yield %>
  </body>
</html>
